<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="default" connectionString="Server=WEARELEGION; Database=dbWb; Trusted_Connection=true; Encrypt=No; TrustServerCertificate=yes; Connection Timeout=3"/>
		<add name="production" connectionString="Server=.\sqlexpress; Database=dbWb; Trusted_Connection=true; Encrypt=No; TrustServerCertificate=yes"/>
	</connectionStrings>
	
	<appSettings>
		<add key="add1" value="COMPANYNAME" />
		<add key="add2" value="ADDRESS" />
		<add key="portname" value="COM1" />
		<add key="baudrate" value="2400" />
		<add key="startIndex" value="0" />
		<add key="endIndex" value="18" />
		<add key="useSubstring" value="1" />
		<add key="terminationchar" value="13" />
		<add key="startchar" value="83" />
		<add key="rbuffersize" value="18" />
		<add key="rthreshold" value="18" />
		<add key="dbname" value="default" />
	</appSettings>


</configuration>
