<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="default" connectionString="Server=wearelegion; Database=dbWb; Trusted_Connection=true; Encrypt=No; TrustServerCertificate=yes"/>
	</connectionStrings>
	
	<appSettings>
		<add key="add1" value="COMPANYNAME" />
		<add key="add2" value="ADDRESS" />
		<add key="portname" value="COM3" />
		<add key="baudrate" value="9600" />
		<add key="startIndex" value="5" />
		<add key="endIndex" value="6" />
		<add key="useSubstring" value="1" />
		<add key="terminationchar" value="10" />
		<add key="startchar" value="83" />
		<add key="rbuffersize" value="12" />
		<add key="rthreshold" value="12" />
		<add key="dbname" value="default" />
		
		<!--Ticket Settings-->
		<add key="PrinterName" value ="default"/>
		<add key="startX" value ="10"/>
		<add key="startY" value ="5"/>
		<add key="yOffset" value ="20"/>
		<add key="xOffset" value ="0"/>
		<add key="headerFont" value ="Courier New"/>
		<add key="headerFontHeight" value ="12"/>
		<add key="BodyFont" value ="Courier New"/>
		<add key="BodyFontHeight" value ="10"/>
		<add key="Papersize_X" value ="400"/>
		<add key="PaperSize_Y" value ="550"/>
		<add key="HeaderText1" value ="BATAAN 2020 INC."/>
		<add key="HeaderText2" value ="Samal, Bataan"/>
	</appSettings>


</configuration>
