<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="default" connectionString="Server=wearelegion; Database=dbWb; Trusted_Connection=true; Encrypt=No; TrustServerCertificate=yes"/>
	</connectionStrings>
	
	<appSettings>
		<add key="portname" value="COM1" />
		<add key="baudrate" value="2400" />
		<add key="startIndex" value="3" />
		<add key="endIndex" value="5" />
		<add key="useSubstring" value="1" />
		<add key="terminationchar" value="13" />
		<add key="startchar" value="83" />
		<add key="rbuffersize" value="18" />
		<add key="rthreshold" value="18" />
		<add key="dbname" value="default" />
	</appSettings>


</configuration>
